---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
---

<Layout>
  <Banner text='Control de Barras de Vida' />
  <main class='main'>
    <h1>Herramienta para el control de Barras de Vida</h1>
    <article></article>
  </main>
</Layout>
