---

---

<article class='flex gap-4 rounded-2xl'>
  <section>
    <h3>Raza</h3>
  </section>
  <section class='experience'>
    <div class='experience-bar rounded-lg'>
      <h3 class='text-black font-bold'>0/300</h3>
    </div>
  </section>
  <section>
    <h3>Clase</h3>
  </section>
</article>

<style>
  article {
    box-shadow: var(--shadow);
  }
  section {
    transition: box-shadow 300ms ease;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    cursor: pointer;

    width: 100%;
    margin: 1rem;
    padding: 1rem;
  }
  section:hover {
    box-shadow: var(--shadow-pressed);
  }
  /* Experience */
  section.experience {
    box-shadow: var(--shadow-pressed);
    cursor: default;
    padding: 0;
  }
  .experience-bar {
    box-shadow: var(--shadow);
    background-color: var(--white);
    box-sizing: border-box;

    padding: 1rem;
    height: 100%;
    width: 90%;
  }
</style>
