---
interface Props {
  exp: Number;
  clase: String;
  raza: String;
}
const { exp, raza, clase } = Astro.props;
const percentage = (Number(exp) / 900) * 100;
---

<article class='grid grid-cols-10 rounded-2xl'>
  <section class='col-span-2'>
    <h3 class='text-xl'>{raza}</h3>
  </section>
  <section class='experience col-span-6 flex justify-center items-center gap-4'>
    <h3>Nivel <b>2</b></h3>
    <div class='experience-bar rounded-lg'>
      <div class='experience-progress' style=`width: ${percentage}%`></div>
    </div>
    <h3><b class='text-amber-300'>{exp}</b>/900</h3>
  </section>
  <section class='col-span-2'>
    <h3 class='text-xl'>{clase}</h3>
  </section>
</article>

<style>
  article {
    box-shadow: var(--shadow);
    font-family: var(--number);
  }
  section {
    transition: box-shadow 300ms ease;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    cursor: pointer;

    margin: 1rem;
    padding: 1rem;
  }
  section:hover:not(.experience) {
    box-shadow: var(--shadow-pressed-theme);
    background: url(/src/assets/noise_theme.svg);
    background-color: var(--theme);
  }
  /* Experience */
  section.experience {
    box-shadow: var(--shadow-pressed);
    cursor: default;
    padding: 0;
  }
  .experience-bar {
    box-shadow: var(--shadow-pressed);
    box-sizing: border-box;

    height: 0.5cm;
    width: 80%;
  }
  .experience-progress {
    background: linear-gradient(
      90deg,
      var(--color-amber-600) 0%,
      var(--color-amber-300) 100%
    );
    box-shadow: var(--shadow);
    border-radius: 0.5rem;

    height: 100%;
  }
  h3 {
    font-family: var(--text);
    font-weight: bold;
  }
</style>
