---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
// Componentes de Jugadores
import Card from '@/components/characters/Card.astro';
// Astro DB
import { db, Jugadores } from 'astro:db';

const jugadores = await db.select().from(Jugadores);
---

<Layout>
  <Banner text='Personajes Destacados' />
  <main class='main'>
    <article>
      <section>
        <h1>Nuestros "Hélöëd"</h1>
        <h4>Forjados en Murcia</h4>
      </section>
      <section class='flex flex-wrap justify-center gap-4 mb-8'>
        <!-- Aqui va una función Map que recorra la Base de Datos, y muestre tantas Cards como jugadores haya -->
        {
          jugadores.map((jugador) => (
            <Card
              id={jugador.id}
              name={jugador.nombre}
              level={Number(jugador.experiencia)}
            />
          ))
        }
      </section>
    </article>
    <article>
      <section>
        <h1>Rostros Conocidos</h1>
        <h4>Forjados en Murcia</h4>
      </section>
    </article>
  </main>
</Layout>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px var(--white);
  } */
  /* Secciones */
  section {
    padding: 1rem;
  }
  /* Titulos */
  h1,
  h4 {
    font-family: var(--title);
    text-transform: uppercase;
  }
  h1 {
    color: var(--con);
    font-weight: bold;
    font-size: 35px;
  }
  h4 {
    font-size: 15px;
    color: var(--des);
  }
</style>
