:root {
  /* Paleta de Colores */
  --black: #1c1c1c;
  --white: #e0e0e0;
  --gray: #afafaf;
  /* Fuentes */
  --title: 'New Rocker';
  --text: 'Quicksand';
  --handwritten: 'Caveat';
  --number: 'Dangrek';
  /* Sombras y Efectos */
  --shadow: 5px 5px 10px #141414, -5px -5px 10px #242424;
  --shadow-pressed: inset 5px 5px 10px #141414, inset -5px -5px 10px #242424;
  --shadow-white: 5px 5px 10px #9d9d9d, -5px -5px 10px #ffffff;
  --shadow-white-pressed: inset 5px 5px 10px #9d9d9d,
    inset -5px -5px 10px #ffffff;
  /* Tema */
  --theme: #75773c;
  --shadow-theme: 5px 5px 10px #52532a, -5px -5px 10px #989b4e;
  --shadow-pressed-theme: inset 5px 5px 10px #52532a,
    inset -5px -5px 10px #989b4e;
  /* Color Stats */
  --fue: #ac1d1b;
  --des: #ffbb00;
  --con: #138859;
  --int: #4b89bf;
  --sab: #8937a4;
  --car: #f66985;
}
