:root {
  /* Paleta de Colores */
  --black: #1c1c1c;
  --white: #e0e0e0;
  /* Fuentes */
  --title: 'New Rocker';
  --text: 'Quicksand';
  --handwritten: 'Caveat';
  /* Sombras y Efectos */
  --shadow: 5px 5px 5px #141414, -5px -5px 5px #242424;
  --shadow-pressed: inset 5px 5px 5px #141414, inset -5px -5px 5px #242424;
}
