---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
---

<Layout>
  <Banner text='Enciclopedia' />
  <main class='main'>
    <p>Aqui van las HomeBrews</p>
  </main>
</Layout>
