---
import '@/styles/style.css';
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
---

<Layout>
  <Banner title='Personajes' />
  <main class='main'>
    <article>
      <section>
        <h1>Personajes Jugables</h1>
      </section>
    </article>
  </main>
</Layout>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px var(--white);
  } */
</style>
