---

---

<div class='card rounded-lg'>
  <img src='/src/assets/background.png' alt='' class='rounded-2xl' />
  <!-- Iconos de Raza y Clase? -->
  <!-- Nombre -->
  <h2></h2>
  <!-- Frase? -->
</div>

<style>
  /* Tarjetas */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .card img {
    height: 10cm;
  }
</style>
