---
interface Props {
  id: Number;
  name: String;
}
const { id, name } = Astro.props;
---

<a href=`/characters/players/${id}` class='rounded-2xl'>
  <div class='card rounded-2xl'>
    <img
      src='/src/assets/background.png'
      alt=''
      class='rounded-t-2xl object-cover'
    />
    <div class='flex items-center justify-between p-4 w-full'>
      <h2 class='text-lg'>{name}</h2>
      <div class='h-[1cm] w-[2cm] fill-white flex gap-4'>
        <!-- Raza -->
        <svg
          id='fi_4941332'
          enable-background='new 0 0 512 512'
          height='512'
          viewBox='0 0 512 512'
          width='512'
          xmlns='http://www.w3.org/2000/svg'
          ><g
            ><path
              d='m433.55 334.39c-35.48 61.29-101.78 102.61-177.55 102.61s-142.07-41.32-177.55-102.61c-47.78 38.14-78.45 96.86-78.45 162.61 0 8.28 6.72 15 15 15h482c8.28 0 15-6.72 15-15 0-65.75-30.67-124.47-78.45-162.61z'
            ></path><path
              d='m115.25 33h-59.25c-8.28 0-15 6.72-15 15 0 28.97 11.16 55.39 29.41 75.17 6.59-34.22 22.44-65.18 44.84-90.17z'
            ></path><path
              d='m471 48c0-8.28-6.72-15-15-15h-59.25c22.4 24.99 38.25 55.95 44.84 90.17 18.25-19.78 29.41-46.2 29.41-75.17z'
            ></path><path
              d='m97 187h27.92c5.59-18.49 22.79-32 43.08-32s37.49 13.51 43.08 32h89.84c5.59-18.49 22.79-32 43.08-32s37.49 13.51 43.08 32h27.92v-28c0-87.67-71.33-159-159-159s-159 71.33-159 159zm191-106h32c8.28 0 15 6.72 15 15s-6.72 15-15 15h-32c-8.28 0-15-6.72-15-15s6.72-15 15-15zm-96 0h32c8.28 0 15 6.72 15 15s-6.72 15-15 15h-32c-8.28 0-15-6.72-15-15s6.72-15 15-15z'
            ></path><path
              d='m168 185c-8.284 0-15 6.716-15 15v17h-57c-8.284 0-15 6.716-15 15 0 96.495 78.505 175 175 175s175-78.505 175-175c0-8.284-6.716-15-15-15h-57v-17c0-8.284-6.716-15-15-15s-15 6.716-15 15v17h-146v-17c0-8.284-6.716-15-15-15z'
            ></path></g
          ></svg
        >
        <!-- Clase -->
        <svg
          id='fi_11866053'
          viewBox='0 0 512 512'
          xmlns='http://www.w3.org/2000/svg'
          data-name='Layer 1'
          ><path
            d='m295.772 30.589-13.516 107.694c-.377 3.001-2.929 5.253-5.953 5.253h-40.607c-3.024 0-5.576-2.251-5.953-5.251l-13.545-107.694c-.325-2.582 1.052-5.079 3.409-6.183l33.834-15.842c1.611-.755 3.477-.755 5.088 0l33.834 15.842c2.356 1.103 3.733 3.599 3.409 6.181zm149.508 351.163-23.831-28.917v-148.037c0-66.994-43.415-125.904-104.845-147.463l-10.534 83.937c-1.881 14.974-14.678 26.264-29.767 26.264h-40.607c-15.089 0-27.885-11.289-29.766-26.26l-10.557-83.937c-61.436 21.564-104.851 80.469-104.851 147.458v148.039l-23.805 28.917c-2.002 2.431-1.783 5.997.501 8.165l118.449 112.432c1.138 1.08 2.623 1.648 4.132 1.648.799 0 1.604-.159 2.367-.487 2.203-.946 3.632-3.114 3.632-5.513v-195.943c0-2.144-1.144-4.125-3-5.196l-51.326-29.632v-47.74l83.806 48.361v68.332c0 1.874.875 3.639 2.366 4.774l24.707 18.807c2.145 1.634 5.117 1.634 7.266.002l24.736-18.807c1.492-1.135 2.368-2.902 2.368-4.776v-68.332l83.777-48.359v47.738l-51.327 29.632c-1.856 1.072-3 3.053-3 5.196v195.943c0 2.398 1.428 4.566 3.632 5.513 2.2.947 4.759.491 6.498-1.161l118.479-112.432c2.286-2.169 2.504-5.736.5-8.168z'
          ></path></svg
        >
      </div>
    </div>
  </div>
</a>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px var(--white);
  } */
  /* Tarjetas */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    transition: box-shadow 400ms ease;
  }
  .card:hover {
    box-shadow: var(--shadow);
  }
  .card img {
    width: 8cm;
    height: 8cm;
  }
  /* Textos */
  h2,
  p {
    font-family: var(--handwritten);
  }
  /* SVGs */
  svg {
    height: 1cm;
    width: 2cm;
    box-sizing: border-box;
  }
</style>
