---

---

<a href=''>
  <div class='card rounded-2xl'>
    <img
      src='/src/assets/background.png'
      alt=''
      class='rounded-t-2xl object-cover'
    />
    <div class='p-4'>
      <h2 class='text-lg'>Isidoro Matamoros</h2>
    </div>
  </div>
</a>

<style>
  /* Tarjetas */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    transition: box-shadow 400ms ease;
  }
  .card:hover {
    box-shadow: var(--shadow);
  }
  .card img {
    width: 8cm;
    height: 8cm;
  }
  /* Textos */
  h2 {
    font-family: var(--handwritten);
  }
</style>
