---

---

<article class='rounded-2xl p-4 h-full'>
  <section class='p-4 rounded-lg flex justify-center items-center gap-4 h-full'>
    <svg
      class='size-10'
      id='fi_5532889'
      enable-background='new 0 0 512 512'
      height='512'
      viewBox='0 0 512 512'
      width='512'
      xmlns='http://www.w3.org/2000/svg'
      ><g
        ><path
          d='m195.754 340.291c-8.124-1.625-16.026 3.644-17.651 11.767l-21.998 110.001c-1.625 8.123 3.644 16.026 11.767 17.65h.001c8.123 1.625 16.025-3.644 17.65-11.767l21.998-110.001c1.625-8.123-3.643-16.025-11.767-17.65z'
        ></path><path
          d='m426.001 200h-124.631l97.774-177.771c5.499-9.997-1.734-22.229-13.143-22.229h-180c-6.339 0-11.994 3.985-14.126 9.955l-100 280c-3.489 9.769 3.753 20.045 14.126 20.045h141.738l-36.453 184.023c-3.142 15.867 17.593 24.785 26.95 11.591l200-281.937c7.045-9.933-.058-23.677-12.235-23.677zm-171.662 231.114 26.376-133.201c1.836-9.274-5.26-17.914-14.714-17.914h-138.715l89.285-250h144.061l-97.774 177.771c-5.498 9.998 1.734 22.23 13.143 22.23h120.973z'
        ></path><path
          d='m115.331 90.478c-7.802-2.786-16.385 1.28-19.171 9.081l-64.285 180c-2.786 7.802 1.28 16.385 9.081 19.171s16.385-1.28 19.171-9.081l64.285-180c2.786-7.802-1.279-16.385-9.081-19.171z'
        ></path><path
          d='m392.247 128.146c7.259 3.993 16.38 1.345 20.372-5.914l55.001-100c3.992-7.259 1.344-16.379-5.914-20.372-7.259-3.992-16.379-1.344-20.372 5.914l-55.001 100c-3.993 7.258-1.345 16.379 5.914 20.372z'
        ></path><path
          d='m379.768 382.711c-6.787-4.753-16.14-3.104-20.892 3.682l-71.43 102.001c-4.752 6.786-3.103 16.139 3.682 20.891l.001.001c6.786 4.752 16.139 3.103 20.891-3.683l71.43-102.001c4.753-6.786 3.104-16.139-3.682-20.891z'
        ></path><path
          d='m474.72 250.022c-6.741-4.816-16.11-3.254-20.925 3.487l-35.715 50c-4.815 6.741-3.254 16.109 3.487 20.924 6.741 4.815 16.109 3.254 20.924-3.487l35.715-50c4.817-6.741 3.255-16.109-3.486-20.924z'
        ></path></g
      ></svg
    >
    <h6 class='text-2xl font-bold'>+2</h6>
  </section>
</article>

<style>
  article {
    box-shadow: var(--shadow);
  }
  section {
    box-shadow: var(--shadow-pressed);
  }
  svg {
    fill: var(--white);
  }
</style>
