---

---

<article class='p-4 rounded-2xl h-full'>
  <section class='h-full'>
    <img
      src='/src/assets/background.png'
      alt=''
      class='rounded-2xl object-cover w-full h-full'
    />
  </section>
</article>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px var(--white);
  } */
  article {
    box-shadow: var(--shadow);
  }
  img {
    box-shadow: var(--shadow-pressed);
    /* aspect-ratio: 9 / 16; */
  }
</style>
