---
interface Props {
  name: String;
}
const { name } = Astro.props;
---

<article class='p-4 rounded-2xl h-full'>
  <section class='h-full'>
    <img
      src=`/src/assets/${name}.jpg`
      alt=`${name}`
      class='rounded-2xl object-cover w-full h-full object-top aspect-square'
    />
  </section>
</article>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px var(--white);
  } */
  article {
    box-shadow: var(--shadow);
  }
  img {
    box-shadow: var(--shadow-pressed);
  }
</style>
