---
interface Props {
  feets: Number;
  fly?: Number;
  dig?: Number;
}
const { feets, fly, dig } = Astro.props;
---

<article class='rounded-2xl p-4 number shadow flex gap-4'>
  <section
    class='p-4 rounded-lg flex flex-col justify-center items-center gap-4 h-full pressed grow-2'
  >
    <h6 class='text-xl uppercase font-bold'>Feets</h6>
    <hr class='w-full' />
    <h6 class='text-4xl'>{feets}</h6>
  </section>
  {
    fly && (
      <section class='p-4 rounded-lg flex flex-col justify-center items-center gap-4 h-full pressed'>
        <h6 class='text-xl uppercase font-bold'>Wings</h6>
        <hr class='w-full' />
        <h6 class='text-4xl'>{fly}</h6>
      </section>
    )
  }
  {
    dig && (
      <section class='p-4 rounded-lg flex flex-col justify-center items-center gap-4 h-full pressed'>
        <h6 class='text-xl uppercase font-bold'>Feets</h6>
        <hr class='w-full' />
        <h6 class='text-4xl'>{dig}</h6>
      </section>
    )
  }
</article>

<style>
  article {
    box-shadow: var(--shadow);
  }
  section {
    box-shadow: var(--shadow-pressed);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 1.5rem;
    font-family: var(--number);
  }
  svg {
    fill: var(--white);
  }
</style>
