---

---

<article class='flex flex-col gap-4 rounded-2xl p-4 h-full'>
  <section>
    <div>
      <h3 class='fue'>Fuerza</h3>
      <p>10</p>
    </div>
    <div>
      <p>(+3) + (+2)</p>
      <p>+5</p>
    </div>
  </section>
  <section>
    <div>
      <h3 class='des'>Destreza</h3>
      <p>10</p>
    </div>
    <div>
      <p>(+3) + (+2)</p>
      <p>+5</p>
    </div>
  </section>
  <section>
    <div>
      <h3 class='con'>Constitucion</h3>
      <p>10</p>
    </div>
    <div>
      <p>(+3) + (+2)</p>
      <p>+5</p>
    </div>
  </section>
  <section>
    <div>
      <h3 class='int'>Inteligencia</h3>
      <p>10</p>
    </div>
    <div>
      <p>(+3) + (+2)</p>
      <p>+5</p>
    </div>
  </section>
  <section>
    <div>
      <h3 class='sab'>Sabiduria</h3>
      <p>10</p>
    </div>
    <div>
      <p>(+3) + (+2)</p>
      <p>+5</p>
    </div>
  </section>
  <section>
    <div>
      <h3 class='car'>Carisma</h3>
      <p>10</p>
    </div>
    <div>
      <p>(+3) + (+2)</p>
      <p>+5</p>
    </div>
  </section>
</article>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px var(--white);
  } */
  /* Contenedores */
  article {
    box-shadow: var(--shadow);
    font-family: var(--number);
  }
  section {
    box-shadow: var(--shadow-pressed);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;

    font-size: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
