---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
---

<Layout>
  <Banner text='Universo de Voidegon' />
  <main class='main'>
    <p>Aqui puede ir la Historia del todo, los Mundos y mapas, etc.</p>
  </main>
</Layout>
