---
const { text } = Astro.props;
---

<article class='h-[8cm]'>
  <section class='flex justify-center items-center h-full'>
    <h1 class='uppercase font-bold text-center'>{text}</h1>
  </section>
</article>

<style>
  /* Debug */
  /* * {
    border: solid 1px var(--white);
  } */
  /* Contenedor */
  article {
    background: url(../assets/background.jpg) no-repeat center/cover;
  }
  /* Titulo */
  h1 {
    font-size: 50px;
    font-family: var(--title);
  }
</style>
