---
import { getComp } from '@/ts/get-stats';
import { getLevel } from '@/ts/get-level';
import { getId } from '@/ts/get-id';

const level = await getLevel(getId(Astro.url.pathname));
console.log(level);
---

<article class='h-full shadow p-4 number'>
  <section
    class='p-4 rounded-lg flex flex-col justify-center items-center gap-4 h-full pressed'
  >
    <h6 class='text-2xl uppercase font-bold'>Comp</h6>
    <hr class='w-full' />
    <h3 class='text-4xl'>{'+' + getComp(level.level)}</h3>
  </section>
</article>
