---
import { getComp } from '@/ts/comp-calculator';

interface Props {
  level?: number;
}

const { level = 1 } = Astro.props;
const comp = getComp(level);
---

<article class='h-full shadow p-4 number'>
  <section
    class='p-4 rounded-lg flex flex-col justify-center items-center gap-4 h-full pressed'
  >
    <h6 class='text-xl uppercase font-bold'>Comp</h6>
    <hr class='w-full' />
    <h3 class='text-4xl'>{'+' + comp}</h3>
  </section>
</article>
