---

---

<article class='rounded-2xl p-4 h-full number shadow'>
  <section
    class='p-4 rounded-lg flex flex-col justify-center items-center gap-4 h-full pressed'
  >
    <h6 class='text-xl uppercase font-bold des'>Ini</h6>
    <hr class='w-full' />
    <h6 class='text-4xl'>+5</h6>
  </section>
</article>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px white;
  } */
  /** */
  svg {
    fill: var(--white);
  }
</style>
