---
import { getChosen, getId } from '@/ts/get-id';

const id = getId(Astro.url.pathname);
const player = await getChosen(id);
let inspiration = player.inspiracion;
---

<article class='shadow rounded-2xl p-4 h-full number'>
  <section
    class=`pressed-white
    p-4 rounded-lg flex flex-col justify-center items-center gap-4 h-full cursor-pointer`
  >
    <h6 class='text-xl uppercase font-bold'>Ins</h6>
    <hr class='w-full' />
    <h3 class='text-4xl'>{'[' + inspiration + ']'}</h3>
  </section>
</article>
